// CSS HOMEPAGE
.homepage {
    width: 100%;
    height: 100%;
    position: relative;
    .over {
        width: 100%;
        height: 100%;
        background-color: #95d122;
        position: absolute;
        z-index: 10;
        opacity: 0.5;
    }
    .alive {
        width: 100%;
        height: 100vh;
        position: relative;
        .alive__list {
            width: 100%;
            height: 100%;
            position: relative;
            .alive__list-item {
                width: 100%;
                height: 100%;
                position: relative;
                .boxtext {
                    position: absolute;
                    top: 50%;
                    left: 35%;
                    transform: translate(-50%, -50%);
                    z-index: 20;
                    line-height: 2;
                    max-width: 540px;
                    color: #fff;
                    .titlealive {
                        font-size: 48px;
                        margin-bottom: 30px;
                    }
                    .btnmain {
                        border: 1px solid #ffff;
                        color: #fff;
                        transition: 0.3s;

                        &:hover {
                            background: #d67f1b;
                            transition: 0.3s;
                        }
                    }
                }
            }
            .imgalive {
                @include midimg;
                width: 100%;
                height: 100vh;
            }
        }
    }
    .products {
        background-color: #f9f9f9;
        padding: 70px 0;
        width: 100%;
        height: 100%;
        .container {
            .product {
                position: relative;
                text-align: center;
                .product__text {
                }
                .product__button {
                    padding: 70px;
                    a {
                        text-decoration: none;
                        border: 1px solid black;
                        color: black;
                        padding: 10px 30px;
                        margin: -3px;
                        transition: 0.5s;
                        &:hover,
                        &.active {
                            background: #555654;
                            color: #ffffff;
                            transition: 0.5s;
                        }
                    }
                    a:nth-child(2) {
                        border-left: 0;
                    }
                    a:nth-child(3) {
                        border-left: 0;
                    }
                    a:nth-child(4) {
                        border-left: 0;
                    }
                }
                .product__img {
                    position: relative;

                    .product__img-item {
                        max-width: 930px;
                        margin: 0 auto 70px;
                        display: none;
                        &.active {
                            display: block;
                        }
                        .card {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            transition: all 0.4s;
                            img {
                                width: 100%;
                                transition: all 0.4s;
                            }
                            .card__content {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                opacity: 0;
                                cursor: none;
                                transition: all 0.4s;
                                z-index: 30;
                                .title {
                                    line-height: 4;
                                    color: #faddbe;
                                    font-size: 12px;
                                }
                                .des {
                                    max-width: 70px;
                                    color: #ffffff;
                                    font-weight: 700;
                                }
                            }
                            .overlay {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 50%;
                                height: 50%;
                                opacity: 0;
                                transition: all 0.4s;
                            }
                            &:hover {
                                z-index: 30;
                                transition: 0.4s;
                                img {
                                    z-index: 50;
                                }
                                .card__content {
                                    opacity: 1;
                                }
                                .overlay {
                                    background: #d67f1b;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0.8;
                                }
                            }
                        }
                    }
                    .product__control {
                        .control {
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                        .--prev {
                            left: 0;
                        }
                        .--next {
                            right: 0;
                        }
                    }
                }
                .product__control {
                    width: 100%;
                    height: 100%;
                    .control__prev {
                    }
                }
            }
        }
    }
    .new {
        text-align: center;
        .new__text {
            text-align: center;
            padding: 70px 0;
        }
        .new__img {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            padding-bottom: 70px;
            img {
                width: 100%;
            }
            .img1 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 35px;
            }
            .img2 {
                display: grid;
                gap: 30px;
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }
        }
    }
    .outblog {
        text-align: center;
        .container {
            .outblog__text {
                padding: 70px 0;
            }
            .outblog__list {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                column-gap: 32px;
                padding-bottom: 70px;
                .outblog__list-item {
                    text-align: left;
                    .text {
                        line-height: 2;
                        padding: 20px 0;
                        .ourtitle {
                            font-size: 15px;
                            a {
                                color: #95dc0f;
                            }
                        }
                        .titleout {
                            color: #555654;
                            line-height: 2.5;
                            font-weight: 700;
                        }
                        .des {
                            color: #5f605e;
                            line-height: 1.5;
                            font-size: 15px;
                            font-weight: 700;
                        }
                    }
                    .more {
                        text-decoration: none;
                        font-size: 12px;
                        color: #7e7e7d;
                    }
                }
            }
        }
    }
    .worktogether {
        margin: 70px 0;
        width: 100%;
        height: 480px;
        background: url(../img/work.jpg) no-repeat center;
        background-size: cover;
        .container {
            width: 100%;
            height: 100%;
            .worktogether__list {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .worktogether__list-text {
                    text-align: center;
                    line-height: 3;
                    .titlew {
                        font-weight: 700;
                        font-size: 40px;
                        color: #ffff;
                    }
                    .btnmain {
                        background: #8fda00;
                        color: #ffffff;
                        font-size: 18px;
                        padding: 20px 60px;
                        border: #8fda00;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .products {
        .product__button {
            display: none;
        }
        .product__img {
            display: none;
        }
        .product__res {
            position: relative;
            padding: 70px 0;
            width: 100%;
            > select {
                width: 100%;
                padding: 20px;
                option {
                    width: 50px;
                }
            }
            .arrow {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(-50%, -50%);
            }
        }
    }
}
